body {
  text-align: center;
}

header {
  font-size: 35px;
  padding-bottom: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.994);
}

.list {
  list-style-position: inside;
}

.move {
  background-color: red;
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}
